
.lp {
    background: url("https://images.pexels.com/photos/4009622/pexels-photo-4009622.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940") no-repeat center center fixed;
    background-size: cover;
    margin: 0;
    min-height: 100%;
}

.title{
    padding-top: 0rem;
    color: rgb(0, 119, 255)
}

.divTitle{
    padding-top: 0.5rem;
}
.items{
    text-align:left ;
    font-size: 1.5rem;
    padding:8rem 5rem 1rem 5rem;
    color:white
}
.button{
    margin-top:30% ;
    position: relative;
    width: 240px;
    padding: 20px;
    margin: 10px;
    border:0;
    cursor:pointer;
    border-radius: 3px;
    overflow:hidden;
    transition:0.4s ease-in;
    z-index: 1;
}

button::before,
button::after{
    background:#ff96ad;
    content:"";
    position:absolute;
    z-index: -1;
}

button:hover{
    background: #ff96ad;
    box-shadow: 0 0 5px #ff96ad,0 0 25px #ff96ad,0 0 50px #ff96ad,0 0 200px #ff96ad;
}

.divButton{
    padding:5.8rem 2rem 2rem 2rem
}

.items li{
    list-style-type:circle
}

.button span{
    font-weight: bold;
    font-size: 1.2rem;
}



