.cards{
   display: grid;
   grid-column: auto;
   grid-template-columns: repeat(5, 1fr);
   margin: 1.5rem 0 0rem 1rem;
}

.videogames{
   background: url("https://images.pexels.com/photos/3165335/pexels-photo-3165335.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940") no-repeat center center fixed;
   background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    width: 100%;
    text-align: center;
}

.h2{
   color:white;
}