.card{
    height: 15rem;
    max-width: 15rem;
    background:linear-gradient(rgba(255,255,255,0),rgb(150, 150, 150));
    margin-bottom: 1.5rem;
    border:solid 1px gray;
    border-radius: 1rem;
    padding-bottom: 0.2rem;
}

.card img{
    width: 12rem;
    height: 6rem;
    border-radius: 0 0 1rem 1rem;
}

.name{
    color:black;
    font-weight: bolder;
}

.rating{
    font-weight: 600;
}

.genres {
  height: fit-content;
  display: grid;
  grid-auto-flow: column; 
  grid-template-columns: 3;
}

.genres >p{
 font-family: 'Open Sans';
 font-weight: lighter;
}