.filterDiv{
    background-color:transparent;
    border-bottom: solid 1px gray;
    border-radius: 1rem;
    margin:0.5rem auto;
    width: fit-content;
    justify-content: center;
}

.sasa{
    padding: 3px 5rem;
    display: flex;
    background-color:lightgray;
    column-gap: 8rem;
    border-radius: 1rem;
    margin-bottom:0.5rem;
}

.filtersDiv{
    display: flex;
    column-gap: 4rem;
}

.filtersDiv > div{
    display: flex;
    column-gap: 1rem;
}

.orderDiv{
    display: flex;
    column-gap: 1rem;
}

span{
    font-weight: bold;
}

label{
    font-family:'Open Sans';
    font-size: large;
}