@import url('https://fonts.googleapis.com/css2?family=Yanone+Kaffeesatz:wght@700&display=swap');

.nav{
    background: linear-gradient(90deg,#27b6cf,#c21396);
    height: fit-content;
    border-bottom: solid 5px #c21396;
    border-radius: 0  0 1rem 1rem;
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    font-family: "Yanone Kaffeesatz";
    padding:3px 7rem;
}

.firstLink{
    padding:5px 0 0 0;
    display: flex;
    align-items: center;
    justify-content: center;
    gap:0.5rem;
}

.firstLink:hover{
    cursor: pointer;
}


.firstLink img{
    max-width: 2rem;
    max-height: 1.8rem;
    padding-bottom: 3px;
}
.firstLink span{
    font-size: 2rem;
    height: fit-content;
}
