@import url('https://fonts.googleapis.com/css2?family=Yanone+Kaffeesatz:wght@700&display=swap');

.nav{
    background: linear-gradient(90deg,#27b6cf,#c21396);
    height: fit-content;
    border-bottom: solid 5px #c21396;
    border-radius: 0  0 1rem 1rem;
    display: grid;
    grid-template-columns: 60% 40%;
    font-family: "Yanone Kaffeesatz";
}

.home{
    text-decoration: none;
    color:black;;
    font-size: 2rem;
    
}

.home img {
    padding-top: 3px;
    max-height: 2rem;
    max-width: 6rem;
}

.firstLink{
    text-align: left;
    padding-left: 5rem;
}

.addGame{
    text-decoration: none;
    color: black;
    font-size: 2rem;
}

.addGame img{
    padding-top: 4px;
    max-height: 1.8rem;
    max-width: 4rem;
    padding-right:0.5rem
}