.nav{
    background: linear-gradient(90deg,#27b6cf,#c21396);
    height: fit-content;
    border-bottom: solid 5px #c21396;
    border-radius: 0  0 1rem 1rem;
    display: grid;
    grid-template-columns: 60% 20% 20%;
}

.home{
    text-decoration: none;
    color:black;;
    font-size: 2rem;
    
}

.firstLink{
    text-align: left;
    padding-left: 5rem;
}

.secondLink{
    height: fit-content;
}

.addGame{
    text-decoration: none;
    font-size: 1.6rem;
    font-family: 'Nunito Sans';
    margin-bottom: 0;
    padding-bottom: 0;
    color: black;
}
